@charset "UTF-8";
/********
  Please Do Not Override Any Styles In the documents that belong to Simply-css,
  place this CSS library in a separate folder ("vendor" for instance) and load first the desired
  parts of the Simply-css, and after that you may load your custom styles to overwrite any of the Simply-css styles,
  this way it will help to keep your project organize and avoid any confusion.
  Here is an example of including the style documents:
  ````````````````````````
  <link rel="stylesheet" href="vendor/simply-css/css/styles.css">
  <link rel="stylesheet" href="custom-styles/css/styles.css">
  ````````````````````````
  This lines of code should be located inside <head> tag and of course path of 
  the documents should match their actual location.
********/
* {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

html {
  line-height: 23px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.025em; }
  @media (min-width: 1200px) {
    html {
      font-size: 16px; } }
  @media (max-width: 1199px) {
    html {
      font-size: 14px; } }
  @media (max-width: 1023px) {
    html {
      font-size: 13px; } }
  @media (max-width: 639px) {
    html {
      font-size: 12px; } }

p {
  font-size: 1.125rem;
  margin-bottom: 0.75em; }

h1, .h1 {
  font-size: 2.8rem;
  margin-bottom: 0.5em;
  line-height: 32px; }

h2, .h2 {
  font-size: 2.4rem;
  margin-bottom: 0.5em;
  line-height: 28px; }

h3, .h3 {
  font-size: 2.0rem;
  margin-bottom: 0.5em; }

h4, .h4 {
  font-size: 1.6rem;
  margin-bottom: 0.25em; }

h5, .h5 {
  font-size: 1.2rem;
  margin-bottom: 0.25em; }

h6, .h6 {
  font-size: 1rem;
  margin-bottom: 0.125em; }

a {
  text-decoration: none; }

hr {
  border: 0;
  height: 0.075em;
  background: #fff; }

ol {
  padding: 0 1em; }

ul.check li:before,
ul.check .li:before {
  content: '✓';
  padding-right: 0.5em;
  color: #00ab3e; }

ul.attention li:before,
ul.attention .li:before {
  content: '!';
  padding-right: 0.5em;
  color: #d34836;
  font-weight: 700;
  font-size: 1.25rem; }

/********
1) Flexbox Utilities
2) Flexbox Sticky Footer Layout
3) Grid Utilities
4) Grid Sticky Footer Layout
********/
/*Flexbox utility classes can only be used together with the ".flex" class,
so "display: flex" have to be present for any layout to work. */
.flex {
  display: flex; }
  .flex.wrap {
    flex-wrap: wrap; }

.inline-flex {
  display: inline-flex; }

.column {
  display: flex;
  flex-direction: column; }

.content-start {
  display: flex;
  justify-content: start; }

.space-around {
  display: flex;
  justify-content: space-around; }

.justify-center {
  display: flex;
  justify-content: center; }

.space-between {
  display: flex;
  justify-content: space-between; }

.align-items-center {
  display: flex;
  align-items: center; }

.align-items-baseline {
  display: flex;
  align-items: baseline; }

.align-self-center {
  display: flex;
  align-self: center; }

/* --- Flexbox sticky footer utility --- */
/* --- Flexbox sticky footer usage example --- */
/***********************************
<html class="sticky-footer-flexbox">
<body>

  <header>
    (header element is included only for demonstration purposes,
    and does not have to be present in your html document,
    since it will not affect flexbox sticky footer feature)
  </header>

  <section class="sticky-footer-flex-content">
    (section tag could be replaced with a "div" or pretty much any other tag/element,
    but absolutely must have the class="sticky-footer-flex-content" applied on it.
    This element does not to be filled with any kind of content, and may remain empty if needed,
    it will still push the "footer" to the bottom of the page)
  </section>

  <footer>
    (footer will be pushed to the bottom of the page)
  </footer>

</body>
</html>
***********************************/
html.sticky-footer-flexbox {
  height: 100%; }
  html.sticky-footer-flexbox body {
    display: flex;
    flex-direction: column;
    min-height: 100%; }

.sticky-footer-flex-content {
  display: flex;
  flex: 1 auto; }

/* --- Sticky Footer Layout Ends --- */
.centered {
  justify-content: center;
  align-items: center;
  text-align: center; }

.center-top {
  flex-direction: column;
  align-items: center;
  text-align: center; }

/*Grid utility classes can only be used together with the ".grid" class,
so "display: grid" have to be present for any layout to work. */
.grid {
  display: grid; }

/* --- Grid sticky footer utility --- */
/*

<html class="sticky-footer-grid">
<body>

  <header>
    (height will be set to auto, and will take only the soace that needed to fit it's content)
  </header>

  <section>
    (height will be set 1fr, which means that this element will 
    take all the available space between <header> and <footer>,
    pushing <footer> to the bottom)
  </section>

  <footer>
    (height will be set to auto, and will take only the soace that needed to fit it's content)
  </footer>

</body>
</html>

*/
html.sticky-footer-grid {
  height: 100%; }
  html.sticky-footer-grid body {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto; }

/* --- Grid Sticky Footer Layout Ends --- */
.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.cursive {
  font-family: cursive; }

.c-black {
  color: #000; }

.c-white {
  color: #fff; }

.c-success {
  color: #00ab3e; }

.c-green {
  color: #549500; }

.c-red {
  color: #d34836; }

.c-orange {
  color: #d2691e; }

.c-yellow {
  color: #fdc244; }

.c-light-blue {
  color: #7d92bb; }

.bold {
  font-weight: 700; }

.normal {
  font-weight: 400; }

.skinny {
  font-weight: 100; }

.underline {
  text-decoration: underline; }

.hover-underline:hover {
  text-decoration: underline; }

.hover-highlight {
  color: #d2691e; }

.p-0 {
  padding: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.pr-0 {
  padding-right: 0; }

.pl-0 {
  padding-left: 0; }

.px-0 {
  padding-right: 0;
  padding-left: 0; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.p-025 {
  padding: 0.25em; }

.px-025 {
  padding-right: 0.25em;
  padding-left: 0.25em; }

.py-025 {
  padding-top: 0.25em;
  padding-bottom: 0.25em; }

.p-05 {
  padding: 0.5em; }

.pt-05 {
  padding-top: 0.5em; }

.pb-05 {
  padding-bottom: 0.5em; }

.pr-05 {
  padding-right: 0.5em; }

.pl-05 {
  padding-left: 0.5em; }

.px-05 {
  padding-right: 0.5em;
  padding-left: 0.5em; }

.py-05 {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.p-075 {
  padding: 0.75em; }

.px-075 {
  padding-right: 0.75em;
  padding-left: 0.75em; }

.py-075 {
  padding-top: 0.75em;
  padding-bottom: 0.75em; }

.p-1 {
  padding: 1em; }

.pt-1 {
  padding-top: 1em; }

.pb-1 {
  padding-bottom: 1em; }

.pr-1 {
  padding-right: 1em; }

.pl-1 {
  padding-left: 1em; }

.px-1 {
  padding-left: 1em;
  padding-right: 1em; }

.py-1 {
  padding-top: 1em;
  padding-bottom: 1em; }

.p-2 {
  padding: 2em; }

.pt-2 {
  padding-top: 2em; }

.pb-2 {
  padding-bottom: 2em; }

.pr-2 {
  padding-right: 2em; }

.pl-2 {
  padding-left: 2em; }

.px-2 {
  padding-left: 2em;
  padding-right: 2em; }

.py-2 {
  padding-top: 2em;
  padding-bottom: 2em; }

.m-auto {
  margin: auto; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

.m-0 {
  margin: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.mr-0 {
  margin-right: 0; }

.ml-0 {
  margin-left: 0; }

.mx-0 {
  margin-left: 0;
  margin-right: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.m-05 {
  margin: 0.5em; }

.mt-05 {
  margin-top: 0.5em; }

.mb-05 {
  margin-bottom: 0.5em; }

.mr-05 {
  margin-right: 0.5em; }

.ml-05 {
  margin-left: 0.5em; }

.mx-05 {
  margin-left: 0.5em;
  margin-right: 0.5em; }

.my-05 {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.m-075 {
  margin: 0.75em; }

.mt-075 {
  margin-top: 0.75em; }

.mb-075 {
  margin-bottom: 0.75em; }

.mr-075 {
  margin-right: 0.75em; }

.ml-075 {
  margin-left: 0.75em; }

.mx-075 {
  margin-left: 0.75em;
  margin-right: 0.75em; }

.my-075 {
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

.m-1 {
  margin: 1em; }

.mt-1 {
  margin-top: 1em; }

.mb-1 {
  margin-bottom: 1em; }

.mr-1 {
  margin-right: 1em; }

.ml-1 {
  margin-left: 1em; }

.mx-1 {
  margin-left: 1em;
  margin-right: 1em; }

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em; }

.m-2 {
  margin: 2em; }

.mt-2 {
  margin-top: 2em; }

.mb-2 {
  margin-bottom: 2em; }

.mr-2 {
  margin-right: 2em; }

.ml-2 {
  margin-left: 2em; }

.mx-2 {
  margin-left: 2em;
  margin-right: 2em; }

.my-2 {
  margin-top: 2em;
  margin-bottom: 2em; }

.m-3 {
  margin: 3em; }

.mt-3 {
  margin-top: 3em; }

.mb-3 {
  margin-bottom: 3em; }

.mr-3 {
  margin-right: 3em; }

.ml-3 {
  margin-left: 3em; }

.mx-3 {
  margin-left: 3em;
  margin-right: 3em; }

.my-3 {
  margin-top: 3em;
  margin-bottom: 3em; }

@media (max-width: 1023px) {
  .m-md-0 {
    margin: 0; }
  .m-md-05 {
    margin: 0.5em; }
  .mt-md-05 {
    margin-top: 0.5em; }
  .mb-md-05 {
    margin-bottom: 0.5em; }
  .mr-md-05 {
    margin-right: 0.5em; }
  .ml-md-05 {
    margin-left: 0.5em; }
  .mx-md-05 {
    margin-left: 0.5em;
    margin-right: 0.5em; }
  .my-md-05 {
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
  .m-md-1 {
    margin: 1em; }
  .mt-md-1 {
    margin-top: 1em; }
  .mb-md-1 {
    margin-bottom: 1em; }
  .mr-md-1 {
    margin-right: 1em; }
  .ml-md-1 {
    margin-left: 1em; }
  .mx-md-1 {
    margin-left: 1em;
    margin-right: 1em; }
  .my-md-1 {
    margin-top: 1em;
    margin-bottom: 1em; }
  .m-md-2 {
    margin: 2em; } }

.hidden {
  display: none; }

@media (max-width: 1023px) {
  .hidden-md-down {
    display: none; } }

@media (min-width: 1024px) {
  .hidden-lg-up {
    display: none; } }

.round-1 {
  border-radius: 1em; }

body.dark-theme {
  background: #1a1919;
  color: #fff; }

body.light-theme {
  background: #fff;
  color: #000; }

body.white-font {
  color: #fff; }

/********
  Initial version
********/
/********
  !!! Warning - updating the library to version 1.1 will break your page layout if flexbox sticky footer utility from version 1.0 was used,
      So, to fix the issue, classnames applied to the "flex content element" have to be updated accordingle to the updated utility documentation

  - Grid sticky footer was added to the utility/display-layout section
  - Flebox sticky footer utility updated, class names changed, documentation was updated as well and reflects all the added changes
  - components/list-styling section was updated

********/
