// Breakpoint varibles that are used for "min-width" cases 
$xl-and-up: 1200px;
$lg-and-up: 1024px;
$md-and-up: 640px;
$sm-and-up: 320px;

// Breakpoint varibles that are used for "max-width" cases 
$lg-and-down: 1199px;
$md-and-down: 1023px;
$sm-and-down: 639px;
$xs-and-down: 319px;

// Colors variables
$black: #000;
$black-100: #121111;
$black-200: #1a1919;
$red: #d34836;
$maroon: #660808;
$maroon-dark: #291b1b;
$grey: #656668;
$dark-grey: #3e3838;
$green: #00ab3e;
$green-juicy: #549500;
$orange: #d2691e;
$yellow: #fdc244;
$white: #fff;
$light-blue: #7d92bb;